*
{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.wrapper
{
    height: 100vh;
}
.top-bar
{
    width: 80%;
    height: 50px;
    margin: 20px auto;
}
.logo
{
    width: 20%;
    float: left;
}
.logo img
{
    width: 150px;
    margin: -100px auto;
    cursor: pointer;
}
.menu-bar
{
    width: 60%;
    float: left;
    text-align: center;
}
.menu-bar ul li
{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #000;
    margin: 15px 20px;
    padding-top: 5px;
    cursor:pointer;
    font-weight: 1000;
}
.active, .menu-bar ul li:hover
{
    border-top: 2px solid #2c97e4;
}
.search-box
{
    width: 20%;
    float: right;
}
.input-search
{
    margin: 11px auto;
    display: inline-flex;
    border-bottom: 1px solid #2c97e4;
}
.input-search input
{
    float: right;
    padding: 5px;
    box-shadow: none;
    outline: none;
    border: 0px;
    background: transparent;
}
.search-icon fa
{
    color: #2c97e4;
}
.hero
{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}
.hero-text
{
    width: 50%;
    height: 100%;
    float: left;
}
.hero-text h1
{
    margin: 100px 0 50px 70px;
    line-height: 40px;
}
.hero-text h1::after
{
    content: '';
    width: 120px;
    height: 2px;
    background: #2c97e4;
    top: 28%;
    left: 26%;
    position: absolute;
}
.hero-text p
{
    padding-left: 70px;
    line-height: 25px;
}
.hero-text .play-btn
{
    width:50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 30px 0 70px;
    vertical-align: middle;
    box-shadow: 0 0 16px 2px rgba(44,156,228,0.7);
}
.hero-text span
{
    display: table;
    margin: 50px 0;
}
.hero-text span::after
{
    content: '';
    width: 110px;
    height: 2px;
    background: #2c97e4;
    top: 410px;
    left: 170px;
    position: absolute;
}
.hero-banner
{
    width: 49%;
    height: 100%;
    float: right;
    text-align: center;
}
.hero-banner img
{
    width: 100%;
    margin: 100px auto;
}
.wrapper small
{
    margin-left: 210px;
}
.wrapper small b
{
    margin-right: 50px;
}
.shopping-box
{
    width: 150px;
    height: 200px;
    right: 0;
    top: -80px;
    position: absolute;
    background-image: linear-gradient(#2c97e4,#d7e6fa);
    border-radius: 0 0 60px 240px;
}
.shopping-box .fa
{
    font-size: 25px;
    color: #fff;
    bottom: 60px;
    right: 70px;
    cursor: pointer;
    position: absolute;
}
.social-icons
{
    width: 200px;
    height: 390px;
    left: -70px;
    top: 150px;
    position: absolute;
    border-top-right-radius:275px 309px ;
    border-bottom-right-radius:328px 627px ;
    border-bottom-left-radius:108px 345px ;
    background-image: linear-gradient(#2c97e4,#d7e6fa);
}
.social-icons ul
{
    display: block;
    color: #fff;
    margin: 100px 0 0 100px;
}
.social-icons ul li
{
    list-style: none;
    margin-top: 30px;
}
.social-icons ul li .fa
{
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
}